<div class="container" style="display: flex; flex-direction: column; max-width: 900px;">
    <div class="chooseInput mt-5">
        <form action="/search">
            <select class="form-select" aria-label="Default select example">
                <option selected>類別...</option>
                <option value="1">交通出行</option>
                <option value="2">家居物業</option>
                <option value="3">休閒娛樂</option>
                <option value="4">餐飲食品</option>
                <option value="5">其他</option>
            </select>
        </form>
    </div>
    <div class="total mt-5" style="display: flex; justify-content:space-between">
        <h4 style="display: inline;">總金額:</h2>
            <p style="font-size: 75px; color:crimson; display:inline">{{ totalAmount }}</p>
    </div>
    <div>
        <ul class="list-group">
            {{#each records}}
            <li class="list-group-item list-group-item-dark">
                <i class="{{ this.image }} pt-3"></i>
                <div style="display:flex; justify-content:space-between">
                    <div>
                        <h6 class="pt-2">{{ this.name }}</h6>
                        <p class="pt-1">{{ this.date }}</p>
                    </div>
                    <p class="pt-2">${{ this.amount }} </p>
                    <div>
                        <button class="btn btn-success">
                            編輯
                        </button>
                        <button class="btn btn-danger">
                            刪除
                        </button>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
        <div class="mt-3" style="display: flex; justify-content:center">
            <a href="/record/new" class="btn btn-info">新增支出</a>
        </div>
    </div>
</div>